$bg-color: #ccc;
$text-color: #222;
$font-size: 1.25rem;
$icon-size: 37px;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: $bg-color;
  padding: 1rem 2.5rem;

  .title {
    margin: 0;
    font-weight: 300;
    font-size: $font-size;
  }
}

main {
  flex: 1;
  padding: 1.5rem;
  display: flex;
}

.fullscreen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem 1.25rem;
  border: 1px solid $bg-color;
  color: $text-color;
  font-size: $font-size;
  border-radius: 0.5rem;
}

.login {
  text-decoration: none;

  span {
    flex: 1;
    text-align: center;
    padding-left: $icon-size;
  }

  img {
    height: $icon-size;
  }
}

.search {
  max-width: 30rem;

  .search-box {
    flex: 1;
    border: 0;
    outline: none;
    font-size: $font-size;
    margin-left: $icon-size;

    &::placeholder {
      color: $text-color;
      text-align: center;
    }
  }
}
